@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi sitio</h1>
    <p>Aprendiendo otra cosa <a href="https://docs.microsoft.com/aspnet/core"> Github e integración continua. </a>.</p>
</div>
